<main>
  <div class="container">
    <div class="row">
        <h1 class="mx-auto mt-2">
          Welcome to
          <i class="fa-solid fa-book-tanakh"></i>
          <strong>Bookers!!</strong>
        </h1>
    </div>
  </div>
</main>
