<div class="text-success">
  <%= flash[:notice] %>
</div>

<main>
    <div class="container">
        <div class="row">
            <div class="mx-auto col-7 mt-2">
                <h1>
                    Welcome to
                    <i class="fa-solid fa-book-tanakh"></i>
                    <strong>Bookers!!</strong>
                </h1>
                <p>
                    In
                    <i class="fa-solid fa-book-tanakh"></i>
                    <strong>Bookers.</strong>
                </p>
                <p>you can share and exchange  your opinions , inpressions , and emotions</p>
                <p>about various books!</p>
                <div class="btn-wrpper mx-auto">
                    <div calss="row">
                        <a href ="/users/sign_in">
                        <button type="button" class="btn btn-info btn-block mb-3">
                            <strong>log in</strong>
                        </button>
                        </a>
                    </div>
                    <div calss="row">
                        <a href ="/users/sign_up">
                        <button type="button" class="btn btn-success btn-block">
                            <strong>Sign up</strong>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
